<!--div id="theForm">
  <h2>Reservation Form</h2>
  <form #rForm="ngForm" name="reservationForm" (submit)="addReservation(rForm)">

    <div class="form-group">
      <label>Area Name</label>
      <input type="text"
        class="form-control"
        name="areaName"
        [(ngModel)]="reservation.areaName"
        #areaNameModel="ngModel"
        required>
      <span class="help-block danger" *ngIf="areaNameModel.errors?.['required'] && areaNameModel.touched">
        Area name is required.
      </span>
    </div>

    <div class="form-group">
      <label>Time Slot</label>
      <input type="text"
        class="form-control"
        name="timeSlots"
        [(ngModel)]="reservation.timeSlots"
        #timeSlotsModel="ngModel"
        required>
      <span class="help-block danger" *ngIf="timeSlotsModel.errors?.['required'] && timeSlotsModel.touched">
        Time slot is required.
      </span>
    </div>

    <div class="form-group">
      <label>Booking Status</label><br>
      <label class="radio-inline">
        <input type="radio" name="Booked" [(ngModel)]="reservation.Booked" [value]="1"> Booked
      </label>
      &nbsp;
      <label class="radio-inline">
        <input type="radio" name="Booked" [(ngModel)]="reservation.Booked" [value]="0"> Not Booked
      </label>
    </div>

    <div class="form-group">
      <label>Upload Image</label>
      <input type="file"
        class="form-control"
        name="imageName"
        (change)="onFileSelected($event)">
    </div>

    <button
      class="btn btn-primary btn-sm"
      [disabled]="rForm.invalid">
      Add Reservation
    </button>

  </form>
</div-->

<div id="theList">
  <h2>Reservation List</h2>

  <div *ngFor="let item of reservations; let i = index;" class="row">

    <div class="col-2">
      <input type="text"
        [(ngModel)]="item.areaName"
        class="form-control"
        required
        #areaName="ngModel"
        [ngClass]="{ 'is-invalid': areaName.touched && areaName.invalid }">
    </div>

    <div class="col-2">
      <input type="text"
        [(ngModel)]="item.timeSlots"
        class="form-control"
        required
        #timeSlots="ngModel"
        [ngClass]="{ 'is-invalid': timeSlots.touched && timeSlots.invalid }">
    </div>

    <div class="col-2 d-flex justify-content-center">
      <input type="checkbox"
        [(ngModel)]="item.Booked"
        class="form-check-input">
    </div>

    <div class="col-2">
      <img [src]="'http://localhost/angularapp2/reservationsapi/uploads/' + item.imageName"
           alt="{{item.imageName}}"
           class="img-thumbnail"
           style="width: 75px; height: 75px; object-fit: cover;">
    </div>

<div class="col-2">
  <button
    class="btn btn-success btn-sm"
    [routerLink]="['/edit', item.bookingID]"
    [disabled]="areaName.invalid || timeSlots.invalid">
    Edit
  </button>
</div>


  </div>
</div>

<div id="links">
  <button class="btn btn-sm btn-primary" routerLink="/add" type="button">
    Add Reservation
  </button>
  <button class="btn btn-sm btn-primary" routerLink="/about" type="button">
    About Us
  </button>
</div>
